---
layout: default
---


</style>

<div class="appInfo" style="display: flex; align-items: center;">
    <div class="appIconShadow">
        <img width="100" class="appIconLarge" src="https://oss.douwantech.com/assets/images/mirror.png">
    </div>
    <div class="appNamePriceContainer">
        <h1 style="padding-left: 20px;" class="appName">美妆镜子</h1>
    </div>
</div>

<div class="appDescriptionContainer clearfix " >
    <p class="appDescription" style="padding-top: 20px;">
       美妆镜子：是一款个性化化妆镜子app
    </p >
    <br />
    <p class="appDescription" style="padding-top: 20px; float:left;margin-right: 75px;">
    【功能区】
    <br />
    超清镜子：帮助你快速制定完美妆容
    <br />
    镜子皮肤：为你提供超多镜子样式
    <br />
    小组件功能：一键，快速打开app
    </p >
    <br />
    <img src="/assets/bglist.png" alt="">
</div>








